name: enigma_signal_meter
description: Use your phone or tablet to align your satellite dish by reading signal levels from Enigma 1 or Enigma2 satellite receiver.
homepage: https://www.krkadoni.com

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.4+285

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  #cupertino_icons: ^0.1.2
  enigma_web: ^1.0.3
  flutter_redux: ^0.6.0
  percent_indicator: ^2.1.3
  flutter_flip_view: ^1.0.3
  xml: ^3.5.0
  fl_chart: ^0.9.4
  wakelock: ^0.1.4
  flushbar: ^1.10.4
  url_launcher: ^5.4.7
  package_info: ^0.4.0
  auto_size_text: ^2.1.0
  auto_orientation: ^1.0.6
  flutter_tts: ^1.2.0
  shared_preferences: ^0.5.7
  photo_view: ^0.9.2
  wc_flutter_share: ^0.2.1
  image_gallery_saver: ^1.2.2
  showcaseview: ^0.1.5
  android_intent: ^0.3.7
  flutter_redux_navigation: ^0.6.0
  permission_handler:
    git:
      url: git://github.com/shaxxx/flutter-permission-handler.git

dev_dependencies:
  flutter_test:
    sdk: flutter
  intl_translation: ^0.17.8
  flutter_launcher_icons: ^0.7.4
  pedantic: 1.9.0
flutter_icons:
  image_path_android: "assets/icons/esm_icon_1024_1024_Android.png"
  image_path_ios: "assets/icons/esm_icon_1024_1024_iOS.png"
  android: true # can specify file name here e.g. "ic_launcher"
  ios: true # can specify file name here e.g. "My-Launcher-Icon"
  adaptive_icon_background: "#64ffda" # only available for Android 8.0 devices and above
  adaptive_icon_foreground: "assets/icons/esm_icon_432_432_adaptive.png" # only available for Android 8.0 devices and above

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - assets/sky.jpg
    - assets/satellites.xml
    - assets/cup.png
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
